/* Base */

body {
  font-family: "Montserrat", sans-serif;
}

/* navigation bar */

.logo {
  font-family: "Playfair Display", serif;
}

.nav-link {
  text-transform: uppercase;
}

/* Utilities */

.space-sm {
  letter-spacing: 0.1rem;
}

.space {
  letter-spacing: 0.3rem;
}

.space-md {
  letter-spacing: 0.6rem;
}

.space-lg {
  letter-spacing: 2rem;
}

.m-left {
  margin-left: 0.5rem;
}

/* Home page */

.section-home {
  font-family: "Playfair Display", serif;
  height: 100vh;
  background-image: linear-gradient(to top, #6420aa, #6520aab0, #6520aa3b),
    url(img/home-normal-2.png);
  background-size: cover;
  background-position: top;
}

.home-heading {
  font-size: 4.3rem;
  margin-bottom: 3rem;
}

.home-text {
  display: block;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  border: 2px solid #ffffff;
  width: 13rem;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}

/* Gallery */

.section-gallery {
  height: 63rem;
  background-color: #6420aa;
}

.card-in {
  height: 100%;
  gap: 3rem;
}

.gallery-img {
  width: 100%;
}

.card-text {
  font-size: 1rem;
}

.fs-5 {
  font-size: 1.5rem !important;
}

.btn-dark {
  width: 7rem;
  font-size: 1rem;
}

/* grid */

.section-grid {
  height: 65rem;
}

.model-container {
  background-color: rgb(0, 0, 0);
  position: relative;
}

.model-img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  object-fit: cover;
}

.model-text {
  color: #ffffff;
  position: absolute;
  bottom: 8rem;
}

.model-text-left {
  left: 5rem;
}

.model-text-right {
  right: 5rem;
}

.text-format {
  color: #6420aa;
}

.btn-light {
  width: 10rem;
  position: absolute;
}

.btn-left {
  left: 0;
}

.btn-right {
  right: 0.8rem;
}

/* card */

.section-card {
  padding: 10rem 0;
}

.card-body {
  padding: 1rem 0;
}

.card-body > *:not(:last-child) {
  margin-bottom: 1rem;
}

.card-title,
.card-price {
  font-size: 1rem;
}

/* cta-section */
.section-cta {
  height: 65rem;
  position: relative;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.cta-content {
  text-align: center;
}

.fs-1 {
  font-size: 4.3rem !important;
}

/* footer */

.footer {
  height: 30rem;
}

.footer-content {
  border-top: 0.122rem solid #6420aa;
  padding-top: 5rem;
}

.footer-content-heading {
  font-size: 1rem !important;
}

.fa-brands {
  font-size: 1.1rem;
  transition: color 0.2s;
  cursor: pointer;
}

.fa-brands:hover {
  color: #6420aa;
}
